* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    height: 50px;
    width: 50px;
    background: #fff;
    border: 1px solid #999;
    font-size: 32px;
    font-weight: bolder;
    float: left;
}
.square:hover {
    cursor: pointer;
    background: #ddd;
}

.game {
    display: flex;
}

.game-board {
    margin: 30px;
}
h1 {
    text-align: center;
}
.game-info {
    margin-top: 30px;
}
.status {
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
}
.history {
    padding: 10px 20px;
}
.history button {
    padding: 3px;
}
.history li {
    padding: 3px;
}
